@charset "utf-8";
/* CSS Document */

body{
 font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
 margin:0;
 color:#111111;
}
footer{
  color: #fff;
  background: #333;
  text-align: center;
  font-size: 12px;
  line-height: 200%;
}

.main{
  background: #2f4f4f;
}
.contents{
  margin: 0 auto;
  width: 1200px;
  background: #fffacd
}
.topImage{
  width: 1200px;
  height: 400px;
  background-image: url(../img/top.png);
  background-size: cover;
  position: relative;
  display: table;
}
.topImage span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}
.message{
  color: #fff;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  background: #cc0000;
}
.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 40px;
}
.navBox{
  width: 250px;
  text-align: center;
}
.circle{
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:50%;
}

.ribbon1{
  display: inline-block;
  position: relative;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 30px;/*横の大きさ*/
  font-size: 16px;/*文字の大きさ*/
  background: #f57a78;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}
.ribbon1:before, .ribbon1:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.ribbon1:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
.ribbon1:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.ribbon:hover{
  background: green;/*塗りつぶし色*/
}